input[name="secretKey"]:focus {
    outline:none;
}

input[name="secretKey"] {
    background-color:#f6f6f6;
    padding: 8px 10px;
    border-radius: 5px;
    min-width: 250px;
    border: 0.5px solid #dcd6d6;
}
.homecardproddescription{
font-size: 14px;

}
.mainpage{
    text-align: center;
    margin: 0;
    padding-top: 90px;
}
.bagicon{
    color:green;
    position: absolute;
    right: 0    ;
    margin-right: 20px;
}
.tabmenus:hover{
    color: aqua;
}
.page{
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.productnamehome{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.logocontainer{
    text-align: center;
    margin: 0;
    padding-top: 90px;
}
.menu{
    padding-right:10px;
    padding-left:280px;
    color:#81f5ff;
    font-family:'Roboto';
}
.mcart{
    padding-right:10px;
    padding-left:50px;
    color:#81f5ff;
    font-family:'Roboto';
}
.logout{
    padding-right:10px;
    padding-left:50px;
    color:#81f5ff;
    font-family:'Roboto';
}
.mcart:hover{
    color: yellow;
}
.menu:hover{
    color: yellow;
}
.logout:hover{
    color: yellow;
}
.row.maincarddiv{
    padding-top: 30px;
    position: relative;
   
}
.addbutton{
    width: 60px;
    height: 36 px;
    position: absolute;
    bottom: 19px;
    right: 66px;
}

.contact{
    text-align: center;
    margin: 0;
    padding-top: 80px;   
}
.quote{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #737373;
}
.logo{
    width:200px;
    height:100px;
}
.bootstrapcontainer{
    width:100%;
    height:100%;
}
.logoHome{
    width:180px;
    height: 60px;
}
.form-group{
    width:300px;
}
.homecontainer{
    height: 100px;
    width: 100px;
    background-color: black;
}
.mycart{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 20px;
}
.cartimage{
    width: 90px;
    height: 90px;
    margin-left: 38px;
    margin-bottom: 5px;

}
.productname{
    font-size: 20px;
    font-weight: bold;
    padding-left: 38px;
    font-family: 'Roboto', sans-serif;
}
.producthome{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
   
}
.productperunit{
    font-size: 20px;
    right: 36px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}
.productquantity{
    font-size: 20px;
    bottom:30px;
    left: 150px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}
.producttotal{
    font-size: 20px;
   bottom:-9px;
   left:150px;
   font-family: 'Roboto', sans-serif;
    position: absolute; 
}
.total{
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.quant{
    position: absolute;
    bottom: 46px;
    left:270px;
}
.btn.btn-info.btn-sm.cartButtons{
    width: 5px;
    height: 20px;
}
.cartcards{
    padding-top: 10px;
}
.us{
    margin-top: 50px;
    padding-top: 30px;
    width: 300px; 
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    left: 40%;
    position: absolute;
}
.delete{
    position: absolute;
    bottom: 41px;
    left:420px;
}
.cardalign{
    text-align: center;
    width: 200px;
    height: 270px;
}
.carddiv{
    padding-left: 70px;
    text-align:"center";
    padding-bottom:10px;
    padding-top: 20px;
}
.noitemimage{
    width: 500px;
    margin-left: 300px;

}
.checkout{
    text-align: center;
    padding-bottom: 10px;
}
.forminpop{
    padding:20px;
}
.mobile{
    padding-bottom: 10px;
}
.orderplaced{
    text-align: center;
}
.tickimage{
    width: 100px;
    height: 100px;
}

.allmenu{
    padding-top: 20px;
    padding-bottom: 10px;
}
.toast{
    position: absolute;
    left: 700px;
    margin-top: 0px;
}
.topcart{
    right: 290px;
    position: absolute;
    top: 25px;
}
@media screen and (max-width: 780px) {
    .noitemimage{
        width: 380px;
        margin-left:0px;
        
    }
    }
@media screen and (width: 768px  ) {
    .noitemimage{
        width: 380px;
        margin-left:140px;
        
    }
    }
    @media screen and (width: 1024px  ) {
        .noitemimage{
            width: 580px;
            margin-left:140px;
            
        }
        }
@media screen and (max-width: 780px) {
.form-group{
    width: 150px;
}
.topcart{
    right: 100px;
    position: absolute;
}
.toast{
    position: absolute;
    right: 10px;
    width: 150px;
    height: 40px;
    left: 33%;
    margin-top: 5px;
    text-align: center;
}
.homecardperunit{
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
}
.allmenu{
    padding-top: 8px;
    padding-bottom: 5px;
}
.mycart{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 20px;
}
.addbutton{
    width: 60px;
    position: absolute;
    bottom: 19px;
    right: 59px;
}

.menu{
    color:'#43d8c9';
    padding-right:10px;
    padding-left:10px;
    font-family:'Roboto';
}
.mcart{
    color:'#43d8c9';
    padding-right:10px;
    padding-left:20px;
    font-family:'Roboto';
}

.logout{
    color:'#43d8c9';
    padding-right:10px;
    padding-left:20px;
}
.row.maincarddiv{
    padding-top: 30px;
    padding-left: 0px;
}
.logoHome{
    width: 110px;
    height: 50px;
}

.productnamehome{
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.cartcards{
    padding-top: 10px;
   padding-left: 0px;
}

.actualcards{
    height: 110px;
    width: 98%;
}
.cardalign{
    text-align: center;
    width: 180px;
}
.total{
    font-size: 18px;
    padding-left: 28px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.carddiv{
    padding-left: 18px;
}
.quote{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.productquantity{
    font-size: 15px;
    bottom:25px;
    left: 100px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}
.productname{
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
   padding-bottom: 30px;
}
.us{
    text-align: center;
    padding-top: 30px;
    margin-top: 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    left: 10%;
    position: relative;
}
.producttotal{
    font-size: 16px;
   bottom:-5px;
   left:100px;
    position: absolute;
    font-family: 'Roboto', sans-serif; 
}
.productperunit{
    font-size: 11px;
    right: 5px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

.quant{
    position: absolute;
    bottom: 40px;
    left:170px;
}
.delete{
    position: absolute;
    bottom: 36px;
    left:300px;
}
.cartimage{
    width: 80px;
    height: 70px;
    margin-left: 20px;
}
}
@media screen and (max-width: 400px) {
    .delete{
        position: absolute;
        bottom: 36px;
        left:250px;
    }
    .toast{
        position: absolute;
        right: 10px;
        width: 150px;
        height: 40px;
        left: 30%;
        margin-top: 3px;
        text-align: center;
    }
    .addbutton{
        width: 60px;
        position: absolute;
        bottom: 19px;
        right: 50px;
    }
    .allmenu{
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .form-group{
        width: 150px;
    }
    .mycart{
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        text-decoration: underline;
        padding-left: 20px;
        padding-top: 20px;
    }
    .noitemimage{
        width: 300px;
        margin-left: 20px;
    }
    
    .menu{
        color:'#43d8c9';
        padding-right:10px;
        padding-left:10px;
        font-family:'Roboto';
    }
    .mcart{
        color:'#43d8c9';
        padding-right:10px;
        padding-left:20px;
        font-family:'Roboto';
    }
    
    .logout{
        color:'#43d8c9';
        padding-right:10px;
        padding-left:20px;
    }
    .row.maincarddiv{
        padding-top: 28px;
        padding-left: 0px;
    }
    .logoHome{
        width: 90px;
        height: 40px;
        
    }
   
    .productnamehome{
        font-size: 10px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    .cartcards{
        padding-top: 0px;
        padding-bottom: 8px;
       padding-left: 0px;
    }
    
    .actualcards{
        height: 100px;
        width: 98%;
    }
    .cardalign{
        text-align: center;
        width: 165px;
        height: 260px;
    }
    .total{
        font-size: 14px;
        padding-left: 28px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    .carddiv{
        padding-left: 10px;
    }
    .quote{
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }
    .productquantity{
        font-size: 15px;
        bottom:20px;
        left: 75px;
        position: absolute;
        font-family: 'Roboto', sans-serif;
    }
    .productname{
        font-size: 15px;
        font-weight: bold;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
       
    }
    .us{
        text-align: center;
        padding-top: 30px;
        margin-top: 0px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        left: 5%;
        position: relative;
    }
    .producttotal{
        font-size: 15px;
       bottom:-8px;
       left:75px;
        position: absolute;
        font-family: 'Roboto', sans-serif; 
    }
    .productperunit{
        font-size: 11.5px;
        right: 6px;
        position: absolute;
        font-family: 'Roboto', sans-serif;
    }
    .homecardperunit{
        font-family: 'Roboto', sans-serif;
        font-size: 12px; 
    }
    .quant{
        position: absolute;
        bottom: 38px;
        left:145px;
    }
    .cartimage{
        width: 60px;
        height: 60px;
        margin-bottom: 0px;

    }
    

}
@media screen and (max-width: 330px) {
    .delete{
        position: absolute;
        bottom: 36px;
        left:250px;
    }
    .form-group{
        width: 150px;
    }
    .noitemimage{
        width: 300px;
        margin-left: 0px;
        margin-top: 40px;
    }
    .menu{
        color:'#43d8c9';
        padding-right:0px;
        padding-left:15px;
        font-family:'Roboto';
        font-size: 14px;
    }
    .mcart{
        color:'#43d8c9';
        padding-right:0px;
        padding-left:18px;
        font-family:'Roboto';
        font-size: 14px;
    }
    
    .logout{
        color:'#43d8c9';
        padding-right:0px;
        padding-left:20px;
        font-family:'Roboto';
        font-size: 14px;
    }
    .row.maincarddiv{
        padding-top: 0px;
        padding-left: 0px;
    }
    .logoHome{
        width: 90px;
        height: 40px;
    }
   
    
    .cartcards{
        padding-top: 0px;
        padding-bottom: 10px;
       padding-left: 0px;
    }
    
    .actualcards{
        height: 100px;
        width: 98%;
    }
    .cardalign{
        text-align: center;
        width: 135px;
        height: 247px;
    }
    .outofstock{
        font-size: 15px;
    }
    .total{
        font-size: 13px;
        padding-left: 28px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    .carddiv{
        padding-left: 20px;
    }
    .quote{
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }
    .productquantity{
        font-size: 15px;
        bottom:35px;
        left: 90px;
        position: absolute;
        font-family: 'Roboto', sans-serif;
    }
    .productname{
        font-size: 15px;
        font-weight: bold;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .us{
        text-align: center;
        padding-top: 20px;
        margin-top: 0px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        left: 0%;
        position: relative;
    }
    .producttotal{
        font-size: 15px;
       bottom:0px;
       left:90px;
        position: absolute;
        font-family: 'Roboto', sans-serif; 
    }
    .productperunit{
        font-size: 15px;
        right: 36px;
        position: absolute;
        font-family: 'Roboto', sans-serif;
    }
    .homecardperunit{
        font-family: 'Roboto', sans-serif;
        font-size: 10px; 
    }
    .homecardprodname{
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .addbutton{
        width: 60px;
        height: 35px;
        position: absolute;
        left: 36px;

    }
    .quant{
        position: absolute;
        bottom: 50px;
        left:160px;
    }
    .cartimage{
        width: 50px;
        height: 50px;
        margin-bottom: 0px;
    }
    
}

